.introduction {
  width: 45%;
  height: max-content;
  position: relative;
  left: 40%;
  bottom: 70%;
  color: white;
  /* border: 1px solid white; */
  z-index: 1;
}

.introduction h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

/* .introduction h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
} */

.introduction p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.introduction ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.introduction li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  /* padding-left: 1.5rem; */
  font-weight: 700;
  font-style: italic;
}

.introduction blockquote {
  font-size: 1.2rem;
  margin: 0.8rem 0;
  padding: 0.5rem;
  border-left: 4px solid white;
}

@media screen and (max-width: 320px) {
  .introduction {
    width: 100%;
    left: 0;
    top: 8rem;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
    margin-bottom: 3rem;
  }

  .introduction h1 {
    font-size: large;
  }

  .introduction p {
    font-size: medium;
  }
  .introduction blockquote {
    /* margin-bottom: 2rem; */
    font-size: medium;
  }
}
@media screen and (min-width: 321px) and (max-width: 376px) {
  .introduction {
    width: 95%;
    left: 2.5%;
    top: 8.5rem;
    bottom: 0;
    padding-left: 1.2rem;
    padding-right: 1rem;
    margin-bottom: 2.5rem;
  }

  .introduction h1 {
    font-size: 1.7rem;
  }

  .introduction p {
    font-size: 1.1rem;
  }

  .introduction blockquote {
    font-size: 1.1rem;
    /* margin-bottom: 1.5rem; */
  }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
  .introduction {
    width: 97%;
    left: 1.5%;
    top: 9rem;
    bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.2rem;
    margin-bottom: 2.8rem;
  }

  .introduction h1 {
    font-size: 2rem;
  }

  .introduction p {
    font-size: 1.2rem;
  }

  .introduction blockquote {
    font-size: 1.2rem;
    /* margin-bottom: 1.7rem; */
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .introduction {
    width: 60%;
    bottom: 8rem;
    padding-left: 1rem;
    padding-right: 0rem;
    margin-bottom: 1.5rem;
    /* border: 1px solid green; */
  }
  .introduction h1 {
    font-size: 2rem;
  }

  .introduction p {
    font-size: 1.2rem;
  }

  .introduction blockquote {
    font-size: 1.2rem;
    /* margin-bottom: 1.7rem; */
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .introduction {
    width: 60%;
    left: 38%;
    /* bottom: 8rem; */
    /* padding-left: 1rem; */
    padding-right: 0rem;
    /* margin-bottom: 1.5rem; */
    /* border: 1px solid green; */
  }
  .introduction h1 {
    font-size: 2rem;
  }

  .introduction p {
    font-size: 1.2rem;
  }

  .introduction blockquote {
    font-size: 1.2rem;
    /* margin-bottom: 1.7rem; */
  }
}

