.profileImageContainer {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  position: relative;
  left: 9rem;
  bottom: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImageContainer img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  /* border: 1px solid #fff; */
}

.profileImageContainer img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 320px) {
  .profileImageContainer {
    left: 5rem;
    bottom: -4.5rem;
    width: 9rem;
    height: 9rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 376px) {
  .profileImageContainer {
    left: 6.5rem;
    bottom: -5rem;
    width: 11rem;
    height: 11rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 426px) {
  .profileImageContainer {
    left: 6rem;
    bottom: -5rem;
    width: 13rem;
    height: 13rem;
  }
}

@media screen and (min-width: 326px) and (max-width: 769px){
  .profileImageContainer {
    width: 14rem;
    height: 14rem;
    left: 5.5rem;
    bottom: -6rem;
  }
}