* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
    130deg,
    rgba(34, 1, 83, 1) 44%,
    rgba(108, 0, 101, 1) 74%
  ); */
  position: relative;
  overflow: hidden;
}


.Listitems {
  width:fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  /* border: 1px solid #fff; */
  position: absolute;
  top: 2.3rem;
  left: 19rem;
}


@media screen and (max-width: 320px) {
  .header{
    height: 100vh;
    overflow: auto;
  }
  .Listitems{
    top: 1.5rem;
    left: 2.5rem;
    font-size: small;
    gap: 1rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 376px) {
  .header{
    height: 100vh;
    overflow: auto;
  }
  .Listitems{
    top: 2rem;
    left: 3.5rem;
    font-size: medium;
    gap: 1.5rem;
  }
}

